* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.5fr repeat(3, 1fr);
    background-color: skyblue;
}


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-bottom: 3px solid grey;
    padding: 10px min(5%, 35px);
}
.header-nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 40px;
    align-items: center;
}

.header-nav button {
    border-radius: 8px;
    height: 2em;
    
}

.header-nav input {
    border-radius: 10px;
    height: 2em;
    padding: 5px;
    width: 80%;
}
.header-nav input:focus {
    outline: blueviolet solid 2px;
}

.header-nav2 {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
}

.header-nav-buttons {
    display: flex;
    padding: 10px 50px;
    justify-content: space-around;
    gap: 5%;
}

.header-nav-buttons button {
    border-radius: 10px;
    width: max(25%, 100px);
    height: clamp(20px, 25px, 30px);
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: gainsboro;
}
.main-cards {
    grid-area: 1 / 1 / 3 / 2;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
}

.card {
    min-width: 250px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    box-shadow: 2px 3px 2px grey;
    border-left: 0.5em solid yellow;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
    
}

.announcements {
    padding: 20px;
}

.announcement-box {
    box-shadow: 2px 3px 2px grey;
    border-radius: 10px;
    background-color: white;
    padding: 5%;
    display: grid;
    gap: 2px;
    
}
.announcement-card:nth-child(n+2){
    border-top: 2px solid rgba(177, 177, 177, 0.582);
}
.announcement-card {
    display: grid;
    grid-template-rows: 1fr 3fr;
}